/* General */
body {
  font-family: sans-serif;
  font-weight: 300;
  color: #212529;
}

.fa {
  color: #ffffff;
}

.header {
  background-color: #F8F9FA;
}

.header .row {
  padding-top: 15px;
  padding-bottom: 10px;
}

.tech-help {
  text-align: right;
  padding-top: 5px;
}

.tech-help__number {
  color: #1780CB;
  font-size: 38px;
  margin-bottom: -10px;
}

.fa-phone-square {
  color: #297EC9;
  font-size: 24px;
  margin-right: -7px;
}

.nav-link {
  color: #ffffff;
  border-radius: 0;
}

.nav-link--connect,
.nav-link--pay {
  background-color: #297EC9;
  border-color: #297EC9;
}

.nav-link--person {
  background-color: #012F68;
  border-color: #012F68;
}

.header .nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-item .nav-link {
  border-radius: 0;
}

.nav-item:not(:last-child) {
  margin-right: 1px;
}

.nav-link:hover {
  color: #fff;
  opacity: 0.7;
}

.commercial {
  background: url("/src/img/background.png") no-repeat;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 250px;
}

.card-header {
  background-color: #66CE04;
  font-size: 24px;
  font-style: italic;
  padding: 25px 25px;
}

.commercial__card {
  width: 560px;
  margin: 0 auto;
  margin-right: 0;
}

.card {
  border: none;
}

.card .tr-numbers {
  color: #1780CB;
  font-weight: 400;
  font-size: 32px;
}

.commercial__card .card-body {
  padding: 0;
  margin: 0 auto;
}

.commercial__tr td {
  padding-bottom: 0;
  margin: 0;
  text-align: center;
}

.tariff {
  padding-top: 50px;
}

.tariff .nav-tabs .nav-link:hover {
  color: #212529;
  opacity: 1;
}

.tariff__title {
  text-align: center;
}

.nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tariff .table th {
  padding-left: 1.5em;
  position: relative;
  max-width: 190px;
  color: #fff;
  position: relative;
}

.th__title-blue-l i {
  width: 20px;
  background-color: #15B8F3;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.th__title-blue-d i {
  width: 20px;
  background-color: #0DA1D7;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.th__title-green-d i {
  width: 20px;
  background-color: #5DBC03;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.th__title-green-l i {
  width: 20px;
  background-color: #66CE04;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
          clip-path: polygon(0 0, 0 100%, 100% 50%);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.th__title-blue-l {
  background-color: #15B8F3;
}

.th__title-blue-d {
  background-color: #0DA1D7;
}

.th__title-green-l {
  background-color: #66CE04;
}

.th__title-green-d {
  background-color: #5DBC03;
}

.tariff .table {
  margin-bottom: 20px;
}

.tariff .table th {
  font-size: 18px;
  vertical-align: middle;
  font-weight: 300;
}

.tariff .table td {
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  color: #9C9397;
}

.tariff .table td .table__number {
  font-size: 21px;
  color: #212529;
}

.tariff .table td .table__number-price {
  font-size: 26px;
  color: #1780CB;
}

.table__title {
  font-size: 24px;
}

.footer {
  background-color: #2980CB;
}

.footer .copyright {
  color: #fff;
}

.footer .fa {
  font-size: 24px;
}

.social-icon__list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-icon__list li {
  margin-right: 30px;
  list-style-type: none;
}

.social-icon__link:hover {
  opacity: 0.7;
}

.footer {
  padding-top: 25px;
  padding-bottom: 10px;
}

@media screen and (min-width: 1585px) {
  .commercial {
    background: url("/src/img/background_big.png") no-repeat;
  }
}

@media screen and (max-width: 991.98px) {
  .header .nav {
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav-link {
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
  }
  .commercial {
    background: url("/src/img/background.jpg") no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .commercial {
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 190px;
  }
  .commercial__card {
    display: block;
    width: 550px;
    margin: 0 auto;
  }
  .nav-tabs .nav-link {
    border: 1px solid #DEE2E6;
  }
  .footer .copyright {
    text-align: center;
  }
  .footer .social-icon__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .header .nav {
    margin: 0 auto;
  }
  .commercial {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .commercial__card {
    width: 430px;
  }
  .commercial .card-header {
    font-size: 18px;
  }
  .commercial .card-body {
    font-size: 12px;
  }
  .commercial .card .tr-numbers {
    font-size: 24px;
  }
  .tariff__title {
    font-size: 24px;
  }
  .tariff .table__title {
    font-size: 21px;
  }
}

@media (max-width: 575.98px) {
  .header .nav {
    display: block;
    margin: 0 auto;
  }
  .header-logo {
    display: block;
    margin: 0 auto;
  }
  .tech-help {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
  }
  .nav-link {
    margin-bottom: 2px;
  }
  .commercial__card {
    width: 330px;
  }
}
/*# sourceMappingURL=style.css.map */